h1 {
  color: red;
}

img {
  background-color: red;
}

.bacon {
  background-color: lightgreen;

}

.circle {
  border-radius: 100%;
}

.circle:hover {
  border-radius: 50%;
  background-color: darkgrey;
  position: relative;
  left: 300px;
}

#broccoli-image {
  background-color: darkgreen;
  position: absolute;
  right: 0;
}
